
body{
    margin: 0;
    padding: O;
    background-color:burlywood;
    font-size: 20px;
    
} 
.board{
    color: teal;
}   
    


h1{
    margin-left: 400px;
    margin-top: 100px;
}
#sect1 p{
      margin-left: 280px;
      margin-top: 40px;
}
.board .brd {
    margin-left: 420px;
    margin-top: 80px;
}
.board .brd h1{
    margin-top: 80px;
    margin-left: px;
}
.button{
    margin-left: 420px;
    margin-top: 50px;
    font-size: 20px;
    background-color: aqua;
    color: rosybrown;
}
#quizz{
    margin-left: 50px;
    color: teal;
    font-weight: bold;
}
#quizz #button{
    font-size: 20px;
    margin-top: 30px;
    color: rosybrown;
    background-color: aqua;
}


#full{
    margin-left: 400px;
    margin-top: 80px;
    border: 2px dotted wheat;
    width: 350px;
    
}
#full #button{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    color: rosybrown;
    background-color: aqua;
}